html {
    font-size: 16px;
    background-color: #2d2d2d;
}

body {
    margin: 1em;
    text-align: center;
    color: wheat;
}

section {
    min-width: 900px;
    font-family: monospace;
}

article {
    width: 50em;
    text-align: center;
    margin: 1em auto;
}
#boxes {
    width: 800px;
    margin: 0 auto;
}

/* This is the same rule as the .block class */
#boxes div {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 210px;
    margin: 1em;
    height: 210px;
    padding: 0;
    width: 210px;
}



#g { background-color: darkgreen; }
#b { background-color: darkblue; }
#r { background-color: darkred; }
#y { background-color: #999900; }
#o { background-color: #b27300; }
#p { background-color: #b2868e; }